    <!-- 02. ABOUT -->

    <div class="about col-10" id="about-container">
        <div class="banner col-12">
            <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
        </div>
        <!-- CURTAINS -->
        <div id='left_side'>
        </div>
        <div id='right_side'>
        </div>
        <div id='open_string'></div>
        <!-- CURTAINS -->
        <div class="d-flex about-info">
            <div class="col-12 about-center">
                <div class="left-portrait openers"></div>
                <div class="portrait-profession">
                    <div class="portrait openers">
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    </div>
                    <div class="profession">
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    </div>
                </div>
                <div class="right-portrait openers"></div>
            </div>
            <div class="col-5 about-left">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <h2>LOGIC</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam reiciendis officiis tempora
                    pariatur alias architecto, consectetur, neque perferendis vero possimus ratione aliquam, ducimus
                    temporibus eligendi odio quisquam dolore placeat deserunt!
                    Quod officia blanditiis voluptatem aspernatur, odio consequuntur reiciendis, perspiciatis
                    exercitationem ipsum nobis illum quo quidem veritatis dolor.</p>
            </div>
            <div class="col-5 about-right">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <h2>CREATIVITY</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam reiciendis officiis tempora
                    pariatur alias architecto, consectetur, neque perferendis vero possimus ratione aliquam, ducimus
                    temporibus eligendi odio quisquam dolore placeat deserunt!
                    Quod officia blanditiis voluptatem aspernatur, odio consequuntur reiciendis, perspiciatis
                    exercitationem ipsum nobis illum quo quidem veritatis dolor.</p>
            </div>
        </div>
    </div>