    <!-- 02. ABOUT -->

    <div class="about col-10" id="about-container">
        <div class="banner col-12">
            <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
        </div>
        <!-- CURTAINS -->
        <div id='left_side'>
        </div>
        <div id='right_side'>
        </div>
        <div id='open_string'></div>
        <!-- CURTAINS -->
    
        <div class="hanger"></div>

        <section id="about" class="about-info">
            <div class="about-left-side-decoration"></div>
            <div class="about-center">
                <div class="portrait-profession">
                    <div class="left-portrait openers">
                        <div class="fade-in-trinket"></div>
                    </div>
                    <div class="portrait openers">
                        <div class="photo-sparkles"></div>
                    </div>
                    <div class="right-portrait openers">
                        <div class="fade-in-trinket"></div>
                    </div>
                </div>
            </div>
            <div class="about-left">
                <div class="about-left-text">
                    <h2>LOGIC</h2>
                    <p>Architect with a strong base in system design and diagramming, eager to learn. Currently studying computer engineering along with courses to
                        expand my knowledge in the world of programming.</p>
                </div>
            </div>
            <div class="about-right">
                <div class="about-right-text">
                    <h2>Creativity</h2>
                    <p>The functioning of a page is as important as its aesthetics. Details and interactivity are my 2 pillars to try and make users feel that when browsing the page they are not reading a book, but playing a game.</p>
                </div>
            </div>
            <div class="about-right-side-decoration"></div>
        </section>
        
    </div>