    <!-- 02. ABOUT -->

    <div class="about col-10" id="about-container">
        <div class="banner col-12 banner-container" [ngStyle]="{ 'background-image': 'url(' + about.banner_url + ')'}">
            <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
        </div>
        <!-- CURTAINS -->
        <div id='left_side'>
        </div>
        <div id='right_side'>
        </div>
        <div id='open_string'></div>
        <!-- CURTAINS -->
    
        <div class="hanger"></div>

        <section id="about" class="about-info">
            <div class="about-left-side-decoration"></div>
            <div class="about-center">
                <div class="portrait-profession">
                    <div class="left-portrait openers">
                        <div class="fade-in-trinket"></div>
                    </div>
                    <div class="portrait openers portrait-container">
                        <img class="portrait openers" [src]="about.profile_picture_url" />
                        <div class="photo-sparkles"></div>
                    </div>
                    <div class="right-portrait openers">
                        <div class="fade-in-trinket"></div>
                    </div>
                </div>
            </div>
            <div class="about-left">
                <div class="about-left-text">
                    <h2>LOGIC</h2>
                    <p>{{about.logic_description}}</p>
                </div>
            </div>
            <div class="about-right">
                <div class="about-right-text">
                    <h2>Creativity</h2>
                    <p>{{about.creativity_description}}</p>
                </div>
            </div>
            <div class="about-right-side-decoration"></div>
        </section>
        
    </div>