<!-- ID Projects -->
<div id="projects-id" class="col-10"></div>

<!-- SUBSECTION Projects -->
<div class="projects-container col-10">
  <div class="projects-title"></div>
  <div class="projects col-12" id="projects">
    <div class="project-filters">
      <div class="project-filter" id="tech-01" (click)="filterTag(['HTML_CSS'])">
        <span>HTML + CSS</span>
      </div>
      <div class="project-filter" id="tech-02" (click)="filterTag(['JS'])">
        <span>JS</span>
      </div>
      <div class="project-filter" id="tech-03" (click)="filterTag(['React'])">
        <span>React</span>
      </div>
      <div class="project-filter" id="tech-04" (click)="filterTag(['Angular'])">
        <span>Angular</span>
      </div>
      <div class="project-filter" id="tech-05" (click)="filterTag(['UE5'])">
        <span>UE5</span>
      </div>
      <div class="project-filter" id="tech-06" (click)="filterTag(['AI'])">
        <span>AI</span>
      </div>
    </div>

    <!-- Project TYPE 01 (there is only one) -->
    <div class="project-01" *ngFor="let project of projects | filter:currentFilter">
      <div class="edit hidden"><i class="fas fa-pen-nib"></i></div>
      <div class="delete hidden"><i class="fa-solid fa-subscript"></i></div>
      <div class="project-title">
        <span>{{ project.title }}</span>
      </div>
      <div class="project-container" *ngIf="project.type == 'HISTORY'">
        <div class="project-content-fcc">
          <div class="thumbnail-container">
            <div class="styles-container">
              <div class="style-box"><span>fCC Style</span></div>
              <div class="style-box"><span>My Style</span></div>
            </div>

            <div class="project-box">
              <div
                [class.thumbnail-frame-unique]="isUniqueSubProject()"
                [class.thumbnail-frame]="!isUniqueSubProject()"
              ></div>

              <div
                class="project-left-arrow"
                (click)="goPreviousSubProject()"
              ></div>
              <div class="thumbnail">
                <a
                  *ngIf="!isUniqueSubProject()"
                  class="fcc-style-url"
                  [href]="getActiveSubProject().fcc_style_url"
                  target="_blank"
                ></a>
                <a
                  [class.my-style-url]="!isUniqueSubProject()"
                  [class.my-style-full-url]="isUniqueSubProject()"
                  [href]="getActiveSubProject().my_style_url"
                  target="_blank"
                ></a>
                <img [src]="getActiveSubProject().background" alt=""/>
              </div>
              <div
                class="project-right-arrow"
                (click)="goNextSubProject()"
              ></div>
            </div>
          </div>
          <div class="project-subproject">
            <div class="subproject-name">
              <span>{{ getActiveSubProject().name }}</span>
            </div>
            <div class="particular-descriptions">
              <div class="a-particular-description-left">
                {{ getActiveSubProject().fcc_style_description }}
              </div>
              <div class="a-particular-description-right">
                {{ getActiveSubProject().my_style_description }}
              </div>
            </div>
          </div>
        </div>

        <div class="project-description-fcc">
          <div class="project-filters-list">
            <div
              class="project-filter-tag"
              [class.ai]="tag === 'AI'"
              [class.ue05]="tag === 'UE5'"
              [class.angular]="tag === 'Angular'"
              [class.react]="tag === 'ReactJS'"
              [class.js]="tag === 'JS'"
              [class.htmlcss]="tag === 'HTML_CSS'"
              *ngFor="let tag of project.tags"
            >
              {{ tag }}
            </div>
          </div>
          <!-- <div class="project-type"></div> -->
          <div class="project-text-description-01">
            {{ project.description }}
          </div>
        </div>
      </div>
      <div class="project-container" *ngIf="project.type != 'HISTORY'">
        <div class="project-content">
          <div class="thumbnail-container">
            <div class="thumbnail-default">
              <div class="thumbnail-default-background"></div>
              <div class="project-thumbnail-default">
                <img [src]="project.data.background" alt="" />
                <a [href]="project.data.project_url" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-description">
          <div class="project-filters-list-default">
            <div
              class="project-filter-tag"
              [class.ai]="tag === 'AI'"
              [class.ue05]="tag === 'UE5'"
              [class.angular]="tag === 'Angular'"
              [class.react]="tag === 'ReactJS'"
              [class.js]="tag === 'JS'"
              [class.htmlcss]="tag === 'HTML_CSS'"
              *ngFor="let tag of project.tags"
            >
              {{ tag }}
            </div>
          </div>
          <div class="project-text-description-02">
            {{ project.description }}
          </div>
        </div>
      </div>
      <div class="project-divider"></div>
    </div>
  </div>
</div>
