<!-- ID Courses -->
<div id="courses-id" class="col-10"></div>

<div class="courses-container col-10">
    <div class="courses-title"></div>
    <div id="courses-logos">
        <div class="baroque-symbol-open"></div>
        <div class="course-logo" *ngFor="let academy of academies; index as i;">
            <div class="course-logo-interior" [ngStyle]="{ 'background-image': 'url(' + academy.shield + ')'}" ><a (click)="scrolltoId('academy-title-0'+ (i+1))">0{{i+1}}</a></div>
        </div>
        <div class="baroque-symbol-close"></div>
    </div>
    <div class="courses col-12">
        <div class="academy-container">
            <div *ngFor="let academy of academies;  index as i;">
                <div [id]="'academy-title-0'+ (i+1)" class="academy-title">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="academy-logo" [ngStyle]="{ 'background-image': 'url(' + academy.logo + ')'}"></div>
                    <div class="academy-name">{{academy.name}}</div>
                </div>
                <div class="academy-content" *ngFor="let course of academy.courses">
                    <div id="course-name-01" (click)="onAccordionClick($event)" class="accordion">
                        <div class="academy-arrow"></div>
                        <div class="course-name">{{course.name}}</div>
                    </div>
                    <div class="course-content accordion-content">
                        <div class="course-description">
                        <p class="course-description-text">{{course.description}}</p>
                        <div class="baroque-close"></div>
                    </div>
                    <div class="certificate-container">
                        <div class="course-certificate"></div>
                        <img [src]="course.certificate">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>