<!-- ID Courses -->
<div id="courses-id" style="background-color: rgb(89, 91, 73); height: 50px;"></div>

<div class="courses-container col-10">
    <div class="courses-title">
        <h2>Courses</h2>
    </div>
    <div id="courses-logos">
        <div id="course-logo-01"><a href="javascript: scrolltoId('academy-title-01')">01</a></div>
        <div id="course-logo-02"><a href="javascript: scrolltoId('academy-title-02')">02</a></div>
        <div id="course-logo-03"><a href="javascript: scrolltoId('academy-title-03')">03</a></div>
        <div id="course-logo-04"><a href="javascript: scrolltoId('academy-title-04')">04</a></div>
        <div id="course-logo-05"><a href="javascript: scrolltoId('academy-title-05')">05</a></div>
        <div id="course-logo-06"><a href="javascript: scrolltoId('academy-title-06')">06</a></div>
        <div id="course-logo-07"><a href="javascript: scrolltoId('academy-title-07')">07</a></div>
        <div id="course-logo-08"><a href="javascript: scrolltoId('academy-title-08')">08</a></div>
    </div>
    <div class="courses col-12">
        <div class="academy-container">

            <!-- ACADEMY 01 -->
            <div id="academy-title-01">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 01</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

            <!-- ACADEMY 02 -->
            <div id="academy-title-02">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 02</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

            <!-- ACADEMY 03 -->
            <div id="academy-title-03">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 03</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

            <!-- ACADEMY 04 -->
            <div id="academy-title-04">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 04</div>
            </div>
            <div class="academy-content">
                <!-- Course 01 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 02 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 03 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 04 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 05 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 06 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 07 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 08 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

                <!-- Course 09 -->
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>

            </div>

            <!-- ACADEMY 05 -->
            <div id="academy-title-05">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 05</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>


            <!-- ACADEMY 06 -->
            <div id="academy-title-06">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 06</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

            <!-- ACADEMY 07 -->
            <div id="academy-title-07">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 07</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

            <!-- ACADEMY 08 -->
            <div id="academy-title-08">
                <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                <div class="academy-logo">Logo</div>
                <div class="academy-name">Academy name 08</div>
            </div>
            <div class="academy-content">
                <div id="course-name-01" class="accordion">
                    <div class="academy-arrow">A</div>
                    <div class="course-name">Course name</div>
                </div>
                <div class="course-content accordion-content">
                    <p class="course-description">Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description. Course information and description. Course information and description. Course
                        information and description. Course information and description. Course information and
                        description.</p>
                    <div class="course-certificate">CERTIFICATE</div>
                </div>
            </div>

        </div>
    </div>
</div>