<!-- ID Education -->
<div id="education-id" class="col-10"></div>

<!-- SUBSECTION Education -->
<div class="education-container col-10">
    <div class="education-title">
        <h2>Formación</h2>
    </div>
    <div id="elements-container">
        <div id="education">
            <div id="education-title">Academic Training</div>
            <div id="timeline">
                <div id="year-01"></div>
                <div id="year-02"></div>
                <div id="year-03"></div>
            </div>
            <div id="phases-container">
                <div id="phase-01">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="flex phase-data">
                        <div class="phase-logo">Logo</div>
                        <div class="phase-info"><span class="phase-title flex">Title</span> <span class="phase-year">year01 - year02</span></div>
                    </div>
                    <div class="phase-certificate">CERTIFICATE</div>
                </div>
                <div id="phase-02">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="flex phase-data">
                        <div class="phase-logo">Logo</div>
                        <div class="phase-info"><span class="phase-title flex">Title</span> <span class="phase-year">year01 - year02</span></div>
                    </div>
                    <div class="phase-certificate">CERTIFICATE</div>
                </div>
                <div id="phase-03">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="flex phase-data">
                        <div class="phase-logo">Logo</div>
                        <div class="phase-info"><span class="phase-title flex">Title</span> <span class="phase-year">year01 - year02</span></div>
                    </div>
                    <div class="phase-certificate">CERTIFICATE</div>
                </div>
            </div>
        </div>

        <div id="languages">
            <div id="languages-title">Languages</div>
            <div id="languages-container">
                <div id="language-01">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="language-title">Language</div>
                    <div class="estandarte-container">
                        <div class="language-logo">Logo</div>
                        <div class="language-points">
                            <div class="point">01</div>
                            <div class="point">02</div>
                            <div class="point">03</div>
                        </div>
                        <div class="language-certificate-title">Title</div>
                        <div class="language-certificate">CERTIFICATE</div>
                    </div>
                </div>
                <div id="language-02">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="language-title">Language</div>
                    <div class="estandarte-container">
                        <div class="language-logo">Logo</div>
                        <div class="language-points">
                            <div class="point">01</div>
                            <div class="point">02</div>
                            <div class="point">03</div>
                        </div>
                        <div class="language-certificate-title">Title</div>
                        <div class="language-certificate">CERTIFICATE</div>
                    </div>
                </div>
                <div id="language-03">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="language-title">Language</div>
                    <div class="estandarte-container">
                        <div class="language-logo">Logo</div>
                        <div class="language-points">
                            <div class="point">01</div>
                            <div class="point">02</div>
                            <div class="point">03</div>
                        </div>
                        <div class="language-certificate-title">Title</div>
                        <div class="language-certificate">CERTIFICATE</div>
                    </div>
                </div>
                <div id="language-04">
                    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                    <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    <div class="language-title">Language</div>
                    <div class="estandarte-container">
                        <div class="language-logo">Logo</div>
                        <div class="language-points">
                            <div class="point">01</div>
                            <div class="point">02</div>
                            <div class="point">03</div>
                        </div>
                        <div class="language-certificate-title">Title</div>
                        <div class="language-certificate">CERTIFICATE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>