<!-- ID Skills -->
<div id="skills-id" class="col-10"></div>

<!-- SUBSECTION Skills -->
<div class="skills-container col-10">
    <div class="skills-title">
        <h2>Skills</h2>
    </div>
    <div class="skills col-12">
        <div class="skills-presentation">
            <span><i>Soft Skills</i></span>
            <span>&</span>
            <span><strong>Hard Skills</strong></span>
        </div>
        <div class="skills-icons-container">
            <div class="soft-skills">
                <div class="soft-click"></div>
                <div class="skills-icons">
                    <!-- Skill 01 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 02 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 03 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 04 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 05 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 06 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                </div>
            </div>
            <div class="hard-skills">
                <div class="hard-click"></div>
                <div class="skills-icons">
                    <!-- Skill 01 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 02 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 03 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 04 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 05 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                    <!-- Skill 06 -->
                    <div class="a-skill-container">
                        <div><span><i>Skill name</i></span></div>
                        <div class="a-skill-02"></div>
                        <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
                        <div class="delete hidden"><i class='fa-solid fa-subscript'></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills-summary">
            <h2>Skill</h2>
            <ul>
                <li>Ability 01</li>
                <li>Ability 02</li>
                <li>Ability 03</li>
            </ul>
            <p>Skills description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ab accusamus fuga
                magnam, libero inventore dolores tenetur debitis porro ducimus cum quos atque blanditiis,
                perspiciatis voluptate odio. Doloremque, cupiditate nostrum.</p>
        </div>
    </div>
</div>