/* Años 
    font-family: "EB Garamond", serif !important;
  */

  /* Títulos 
  font-family: "Pinyon Script", cursive !important;

  font-family: "Cinzel", serif !important;
  font-family: "IM Fell English SC", serif !important; 
*/

  /* Textos 
  font-family: "Abyssinica SIL", serif !important;
    font-family: "Old Standard TT", serif !important;

      letter-spacing: 0.1vw;
  font-size: 0.8vw;
  font-weight: 600;
  font-family: "Pinyon Script", cursive !important;
  color: #646161;
  text-shadow: 0 0.2vw 0.2vw #7e7c7c;
*/

body {
  background-image: linear-gradient(to right, rgb(171, 171, 171) 1%, rgb(243, 243, 243)10%, rgb(243, 243, 243)90%, rgb(171, 171, 171) 100%);
  background-size: 100% 100%;
  background-position: center;
  height: auto;
  cursor: url(assets/Images/cursor.png), default;
}

a:hover {
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

/* 01. HEADER */

nav {
  height: 5vw;
  width: 100%;
  background-image: url(assets/Images/nav-background.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  top: 0;
}

.frame,
.frame-02 {
  height: 100%;
  width: 0.3vw;
  background-image: url(assets/Images/portfolio-frame.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: repeat;
  position: fixed;
  z-index: 998;
  margin-top: 1.2vw;
}

.frame {
  margin-left: 8.2vw;
}

.frame-02 {
  margin-left: 90.7vw;
}

.hidden {
  display: none !important;
}

.arg-programa {
  display: flex;
  align-items: center;
  width: auto;
}

.arg-programa img {
  height: 100%;
  width: 4.5vw;
  padding: 2%;
  margin-left: 0.5vw;
  margin-bottom: 0.5vw;
  margin-right: 1vw;
}

.arg-programa span {
  height: 4.5vw;
  width: 15vw;
  padding: 1%;
  margin-left: -1vw;
  background-image: url(assets/Images/nav-argprograma-background.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.75vw;
  font-family: "Cinzel", serif !important;
  text-shadow: 0 0.2vw 0.2vw #757575;
  letter-spacing: 0.1vw;
}

svg {
  height: 0;
}

header:nth-child(1) {
  align-items: flex-start;
}

.social-media-space {
  width: 15%;
  height: 100%;
  background-color: aliceblue;
}

.right-nav {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  width: 80vw;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 16%;
  background-image: url(assets/Images/nav-items-background.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 300ms ease-in-out;
}

nav ul li:hover {
  background-image: url(assets/Images/nav-items-background-hover.png);
}

nav ul li a {
  text-decoration: none;
  color: #2c2525;
  font-family: "Old Standard TT", serif !important;
  font-size: 0.8vw;
  font-style: italic;
  font-weight: 800;
  margin-top: 0.4vw;
}

nav ul li a:hover {
  color: white;
  color: #4e4545;
  text-shadow: 0 0 0.4vw #ffffff;
}

.login {
  background-image: url(assets/Images/login-button.png);
  background-size: 90% auto;
  background-position: bottom;
  background-position-y: 0.6vw;
  background-repeat: no-repeat;
  margin-right: 0.5vw;
}

.login button {
  width: 10vw;
  height: 5vw;
  background-color: transparent;
  border: none;
}

/*BOOSTRAP MODAL OVERRIDE*/
.modal-backdrop {
  z-index: 0 !important;
}

.modal-input {
  height: 90%;
  width: 70%;
  margin: 1vw auto;
  display: flex;
  justify-content: space-between;
}

.modal-input span {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.modal-input input {
  width: 70%;
}

.login-buttons {
  background-color: brown;
  display: flex;
  justify-content: center;
}

i {
  color: rgb(75, 67, 67);
  transition: all 300ms;
}

i:hover {
  color: rgb(134, 133, 113);
  transform: scale(110%);
  transition: all 500ms ease-in-out;
}

.hanger {
  height: 80px;
  z-index: 1;
  background-image: url(https://gcdnb.pbrd.co/images/9U3p90fC4rl2.png?o=1);
  background-position: center 1vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  transform: translateY(-4vw);
}

/* TITLES */

.experience-title,
.education-title,
.courses-title,
.skills-title,
.projects-title {
  height: 8vw;
  width: 100%;
  background-image: url(assets/Images/experience-title.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 50;
  margin-top: -1.2vw;
  margin-bottom: -0.8vw;
}

.experience-title {
  background-image: url(assets/Images/experience-title.png);
}

.education-title {
  background-image: url(assets/Images/education-title.png);
}

.courses-title {
  background-image: url(assets/Images/courses-title.png);
}

.skills-title {
  background-image: url(assets/Images/skills-title.png);
}

.projects-title {
  background-image: url(assets/Images/projects-title.png);
}

/* ID dividers */
#experience-id,
#education-id,
#courses-id,
#skills-id,
#projects-id {
  background-image: url(https://gcdnb.pbrd.co/images/Oxovnjgncq4z.png?o=1);
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: center center;
  margin: 0 auto;
  position: relative;
}

.divider {
  background-image: url(https://gcdnb.pbrd.co/images/Oxovnjgncq4z.png?o=1);
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: center center;
  margin: 0 auto;
  position: relative;
  height: 2vw;
  width: 100%;
}

/* ABOUT */

.about-info .edit {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  right: 4%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.portrait .edit {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 8%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.profession .edit {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 8%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.experience-container .edit {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  right: 8%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#phases-container .edit {
  height: 1.8vw;
  width: 1.8vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 14%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#phases-container .delete {
  height: 1.8vw;
  width: 1.8vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#languages-container .edit {
  height: 1.6vw;
  width: 1.6vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 16%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#languages-container .delete {
  height: 1.6vw;
  width: 1.6vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rgb(111, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#academy-title-01 .edit,
#academy-title-02 .edit,
#academy-title-03 .edit,
#academy-title-04 .edit,
#academy-title-05 .edit,
#academy-title-06 .edit,
#academy-title-07 .edit,
#academy-title-08 .edit {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 6%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

#academy-title-01 .delete,
#academy-title-02 .delete,
#academy-title-03 .delete,
#academy-title-04 .delete,
#academy-title-05 .delete,
#academy-title-06 .delete,
#academy-title-07 .delete,
#academy-title-08 .delete {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 2%;
  background-color: rgb(111, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.banner .edit {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 2vw;
  right: 12vw;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.banner-container {
  background-image: url(assets/Images/banner.png);
  background-position-x: 0.5vw;
}

.a-skill-container .edit {
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 22%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.a-skill-container .delete {
  height: 1.2vw;
  width: 1.2vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 4%;
  background-color: rgb(111, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.project-01 .edit {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 6%;
  background-color: rgb(113, 224, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.project-01 .delete {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rgb(111, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.edit i {
  font-size: 1.2vw;
}

/* 02. ABOUT */

.about {
  height: 50vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.about-info {
  background-color: rgb(95, 35, 35);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about-info p {
  font-style: italic;
}

.about-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-30px);
  z-index: 1;
}

.openers {
  border-radius: 50%;
  margin: 0px 10px;
}

.portrait {
  height: 140px;
  width: 140px;
  position: relative;
}

.right-portrait,
.left-portrait {
  height: 80px;
  width: 80px;
}

.profession {
  position: absolute;
  background-color: black;
  top: 120px;
  height: 40%;
  width: 100%;
}

.portrait-profession {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-left {
  height: 100%;
  padding: 30px;
  padding-right: 60px;
  position: relative;
}

.about-left h2 {
  float: left;
  margin-right: 40px;
}

.about-right {
  height: 100%;
  padding: 30px;
  padding-left: 80px;
  position: relative;
}

.about-right h2 {
  float: right;
}

/* 03. EXPERIENCE */

.experience-container {
  height: auto;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(to right, #5f5f5f, #989b93, #5f5f5f);
}

.job-name {
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.2vw double #989b93;
  margin-bottom: 1.5vw;
}

.job-box {
  height: 110%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(assets/Images/job-background.png);
  background-position: center;
  background-position-y: 0.3vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -1.8vw;
}

.job-name-studio {
  font-size: 1.1vw;
  font-family: "Cinzel", serif !important;
  font-weight: 800;
  text-shadow: 0 0.2vw 0.2vw #757575;
  letter-spacing: 0.1vw;
  color: #4d4d4d;
}

.job-years {
  font-style: italic;
  letter-spacing: 0.1vw;
  font-size: 0.8vw;
  font-weight: 600;
  font-family: "Pinyon Script", cursive !important;
  color: #646161;
  text-shadow: 0 0.2vw 0.2vw #7e7c7c;
}

.job01 {
  background-image: linear-gradient(to right, #5f5f5f, #989b93, #5f5f5f);
  background-size: 100% 250%;
  height: 26vw;
  display: flex;
  align-items: center;
}

.studio {
  height: 90%;
  width: 13%;
  display: flex;
  flex-direction: column;
}

.monkey-studio {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monkey-studio .logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.role-list {
  height: 65%;
  background-image: url(assets/Images/job-description-background.png);
  background-size: 60% 90%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.role-list p {
  text-align: center;
  color: #d3d0d0;
  font-family: "Old Standard TT", serif !important;
  font-size: 0.75vw;
}

.roles {
  height: 94%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.role-description {
  background-image: url(assets/Images/job-role-description.png);
  background-size: 100% 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.role-description h4 {
  margin: 1.5vw 0px 0px 1.5vw;
  font-size: 1.4vw;
  font-family: "Pinyon Script", cursive !important;
  color: #5f5b34;
  text-shadow: 0 0.2vw 0.25vw #7e7c7c;
}

.role-description p {
  font-size: 0.8vw;
  margin: 0 1vw 0 2.5vw;
  font-family: "Old Standard TT", serif !important;
  color: #1a1a14;
}

.video-container {
  height: 85%;
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}

.experience-image {
  height: 90%;
  width: 100%;
  background-image: url(assets/Images/experience-image.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.video-frame {
  height: 69%;
  width: 69%;
  background-image: url(assets/Images/experience-video-frame.png);
  background-position: center;
  background-size: 69.5% 85.2%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 999;
}

/* 04. EDUCATION */

/* START Curtains */

:root {
  --curtain: url("https://anonsharing.com/cache/plugins/filepreviewer/16210/fdb88794c39af1d01cde9b09f19b6d676280a953440a1bbd7904d040e7a954d6/1100x800_cropped.jpg");
}

#left_side,
#right_side {
  background: var(--curtain);
  background-size: 100% 100%;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
}
#left_side {
  left: 0;
}
#right_side {
  right: 0;
}
#open_string {
  position: absolute;
  width: 50px;
  height: 75px;
  right: 10%;
  top: 0;
  animation: pull 4s linear infinite;
  transform-origin: center -100vh;
}
#open_string:before {
  content: "";
  width: 10px;
  height: 70vh;
  top: 10vh;
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(24, 23, 23),
      transparent
    ),
    rgb(206, 211, 186);
  background-size: 10px 5px;
  position: absolute;
  left: calc(50% - 5px);
  transform: translateY(-100%);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}
#open_string:after {
  content: "\2195";
  position: absolute;
  width: 50px;
  height: 150px;
  background: linear-gradient(
      to bottom,
      transparent 20%,
      rgb(198, 209, 190) 20%,
      rgb(109, 109, 104),
      rgb(202, 204, 199) 30%,
      transparent 30%
    ),
    linear-gradient(to right, rgb(168, 170, 161) 50%, rgb(129, 128, 108) 50%);
  background-size: 10% 100%;
  top: 10vh;
  left: 0;
  border-radius: 25px 25px 5px 5px;
  cursor: grab;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  font-size: 28px;
  text-align: center;
  line-height: 150px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-shadow: 2px 1px black;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 15%,
    90% 20%,
    90% 30%,
    100% 35%,
    100% 100%,
    0% 100%,
    0% 35%,
    10% 30%,
    10% 20%,
    0% 15%
  );
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

@keyframes pull {
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

.grabbing {
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

/* END Curtains */

.education-container {
  height: auto;
  margin: 0 auto;
}

#elements-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(to right, #5f5f5f, #989b93, #5f5f5f);
  background-image: url(assets/Images/velvet-06.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* NO TOMA EL TAMAÑO DE LA LETRA */

.education-titles {
  height: 4vw;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -2.5vw;
  margin-right: 22vw;
}

#timeline {
  width: 95%;
  height: 3vw;
  background-image: url(assets/Images/timeline.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
}

.education-and-languages {
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2vw;
  margin-top: -0.5vw;
}

#education {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#languages {
  margin: 0 auto;
  height: auto;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

#education-title,
#languages-title {
  margin: 1vw;
  width: 31%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5vw;

  letter-spacing: 0.1vw;
  font-size: 1.7vw;
  font-family: "Pinyon Script", cursive !important;
  color: #54493f;
}

.year-container {
  width: 5%;
  height: 100%;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phase-data {
  width: 100%;
  height: 25%;
}

.arrow {
  height: 3.5vw;
  width: 100%;
  background-image: url(assets/Images/arrow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -0.5vw;
}

.phase-year {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: -0.5vw;

  letter-spacing: 0.1vw;
  font-size: 0.85vw;
  font-weight: 600;
  font-family: "Cinzel", serif !important;
  font-style: italic;
  color: #cbcdc7;
  text-shadow: 0 0 0.3vw #373a37;
}

.title {
  width: 100%;
  height: auto;
  min-height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  letter-spacing: 0.05vw;
  font-size: 1vw;
  font-family: "Cinzel", serif !important;
  color: #0f100f;
}

.vertical-bar {
  background-image: url(assets/Images/vertical-bar.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 8vw;
  width: 2vw;
}

.phase-logo {
  width: 25%;
  height: 10%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(50%) contrast(150%);
}

.phase-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin-top: -0.3vw;

  font-family: "Old Standard TT", serif !important;
  font-size: 0.75vw;
  color: #3f443f;
}

.phase-certificate-container {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5vw;
  position: relative;
}

.phase-certificate-container a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.phase-certificate {
  background-image: url(assets/Images/certificate-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#phase {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#languages-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#language {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-title,
.language-logo,
.language-certificate-title,
.language-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language {
  width: 100%;
  height: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -0.5vw;
}

.language-title {
  width: 100%;
  height: 5%;
  margin-top: 2.2vw;

  font-weight: 600;
  font-size: 1vw;
  font-family: "Pinyon Script", cursive !important;
  color: #7b6a64;
}

.language-points {
  height: 13vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5vw;
}

.point,
.point-empty {
  height: 23%;
  width: 35%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.9vw;
  filter: saturate(50%) contrast(130%);
}

.point {
  background-image: url(assets/Images/full-level.png);
}

.point-empty {
  background-image: url(assets/Images/empty-level.png);
}

.language-certificate-title {
  height: 1vw;
  width: 100%;
  margin-top: 0.6vw;

  font-family: "Cinzel", serif !important;
  font-size: 0.6vw;
  font-weight: 600;
  color: #3f443f;
}

.language-certificate-container {
  height: 5vw;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3vw;
  position: relative;
}

.language-certificate-container a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.language-certificate {
  background-image: url(assets/Images/certificate-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* 05. SKILLS */

.skills-container {
  height: 45vw;
  margin: 0 auto;
  margin-bottom: 4.5vw;
}

.skills {
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(assets/Images/velvet-04.png);
}

.skills-presentation {
  position: absolute;
  height: 60%;
  width: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(assets/Images/skills-presentation.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hard-skills-drawing {
  height: 24vw;
  width: 21vw;
  background-image: url(assets/Images/hard-skills-drawing.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 11.5vw;
  transition: all 500ms ease-in-out;
  z-index: 2;
}

.soft-skills-drawing {
  height: 20vw;
  width: 20vw;
  background-image: url(assets/Images/soft-skills-drawing.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 14.8vw;
  transition: all 500ms ease-in-out;
  z-index: 2;
}

/* Hover */

.soft-skills-drawing:hover {
  transform: scale(110%);
  background-image: url(assets/Images/soft-skills-drawing-hover.png);
  animation: beat 2s ease-in-out infinite;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.hard-skills-drawing:hover {
  transform: scale(110%);
  background-image: url(assets/Images/hard-skills-drawing-hover.png);
  animation: beat 2s ease-in-out infinite;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  35% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.skills-icons-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.hard-skills {
  height: 45%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.soft-skills {
  height: 45%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hard-skills:hover,
.soft-skills:hover {
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.skills-summary {
  background-image: linear-gradient(
    to right,
    #a9b2c5,
    #c3c9d7 10%,
    #c3c9d7 90%,
    #a9b2c5
  );
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  border-left: 5px rgb(238, 238, 215) ridge;
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.hidden-with-opacity {
  opacity: 0;
}

.skills-summary-title {
  background-image: url(assets/Images/skill-background-title.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 90%;
}

.skills-summary-title h2 {
  width: 7vw;
  letter-spacing: 0.05vw;
  font-size: 1.4vw;
  font-weight: 600;
  font-family: "Pinyon Script", cursive !important;
  color: #686863;
  text-shadow: 0 0.2vw 0.3vw #918e8e;
}

.abilities-container {
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -2vw;

  font-size: 0.82vw;
  font-style: italic;
  font-weight: 600;
  font-family: "Old Standard TT", serif !important;
  color: #544d4d;
}

.abilities-container ul {
  list-style-type: none;
}

.bar {
  height: 7%;
  background-image: url(assets/Images/small-bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.skills p {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.85vw;
    font-weight: 600;
    font-family: "Old Standard TT", serif !important;
    color: #383535;
}

/* Internal */

.skills-icons {
  width: 73%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.hard-blood {
  background-image: url(Assets/Images/hard-dormant-veins.png);
  background-size: 95% 90%;
  background-repeat: no-repeat;
  height: 10vw;
  width: 51vw;
  position: absolute;
  margin-right: 0.7vw;
  margin-bottom: 33vw;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.soft-blood {
  background-image: url(Assets/Images/soft-dormant-veins.png);
  background-size: 95% 90%;
  background-repeat: no-repeat;
  height: 10vw;
  width: 51vw;
  position: absolute;
  margin-right: 0.7vw;
  margin-top: 36vw;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

/* ESTE HOVER DEBERÍA SER SOBRE EL DIBUJO DE HARD SKILLS */
.hard-blood.active {
  background-image: url(Assets/Images/hard-active-veins.png);
}

.soft-blood.active {
  background-image: url(Assets/Images/soft-active-veins.png);
}
/* FIN HOVER */

.end {
  align-items: flex-end;
}

.end .skill-name {
  margin-bottom: 0.4vw;
}

.a-skill-container {
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
}

.a-skill {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 75%;
  width: 85%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.skill-name-and-levels {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.end .skill-name {
  margin-bottom: 0.2vw;
}

.skill-name {
  width: 58%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5vw;

  font-size: 0.6vw;
  font-family: "Old Standard TT", serif !important;
  color: #000000;
}

.skill-levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 6vw;
  width: 1.2vw;
  margin-top: 0.3vw;
}

.skill-level,
.empty-skill-level,
.hard-skill-level {
  height: 19.2%;
  width: 100%;
  background-size: 55% 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-level {
  background-image: url(assets/Images/skill-full.png);
  transition: all 500ms ease-in-out;
}

.hard-skill-level {
  background-image: url(assets/Images/skill-full-hard.png);
  transition: all 500ms ease-in-out;
}

.empty-skill-level {
  background-image: url(assets/Images/skill-empty.png);
  transition: all 500ms ease-in-out;
}

/* COURSES */

.courses-container {
  background-image: url(Assets/Images/velvet-03.png);
  background-size: contain;
  background-position: top;
  margin: 0 auto;
}

#courses-logos {
  width: 55%;
  height: 6vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vw auto;
}

#courses-logos a {
  color: transparent;
}

.course-logo {
  height: 100%;
  width: 7.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.course-logo-interior {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.baroque-symbol-open,
.baroque-symbol-close {
  height: 100%;
  width: 5%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.baroque-symbol-open {
  background-image: url(assets/Images/baroque-symbol-01-open.png);
}

.baroque-symbol-close {
  background-image: url(assets/Images/baroque-symbol-01-close.png);
}

.courses {
  height: auto;
  width: 90%;
}

.academy-container {
  background-image: url(Assets/Images/velvet-05.png);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 35%;
}

.academy-title {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Assets/Images/academy-name-bar.png);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;

  letter-spacing: 0.1vw;
  font-size: 1vw;
  font-family: "Cinzel", serif !important;
  color: #000000;
}

.academy-logo,
.academy-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.academy-logo {
  width: 4%;
  height: 45%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  font-size: small;
  margin-top: 0.3vw;
}

.academy-name {
  width: 15%;
  height: 30%;
  margin-bottom: 0.5vw;
}

.academy-content {
  height: auto;
}

.course-name {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 0.1vw;
  font-size: 1.15vw;
  font-family: "Pinyon Script", cursive !important;
  color: #000000;
}

.course-content {
  height: 8vw;
  background-color: rgba(236, 235, 221, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px rgb(238, 238, 215) ridge;
  border-bottom: 2px rgb(220, 220, 208) solid;
}

.course-description {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.course-description-text {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;

  font-weight: 600;
  font-size: 0.8vw;
  font-family: "Old Standard TT", serif !important;
  color: rgb(112, 104, 104);
}

.baroque-close {
  height: 1.1vw;
  width: 40%;
  margin-top: 0.6vw;
  background-image: url(assets/Images/baroque-symbol-02.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.course-certificate {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  background-image: url(assets/Images/certificate-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 07. PROJECTS */

.projects-container {
  height: auto;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects img {
  width: 100%;
  height: 100%;
}

.project-filters {
  width: 100%;
  height: 7.5vw;
  color: rgb(59, 61, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/Images/project-filters-container.png);
  background-size: 100% 100%;
  background-repeat: repeat;
}

.project-filter {
  width: 12%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
  font-size: small;
  background-image: url(assets/Images/project-filter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-filter span {
  margin-bottom: 0.5vw;
}

.project-divider {
  background-image: url(assets/Images/divider-projects.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 4vw;
  width: 100%;
  margin: 1vw 0 1vw 0;
}

.project-container {
  display: flex;
  justify-content: space-evenly;
}

.project-content {
  width: 80%;
  height: 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-content-fcc {
  width: 80%;
  height: 38vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.project-left-arrow,
.project-right-arrow {
  background-image: url(assets/Images/project-arrow.png);
  width: 4vw;
  height: 4vw;
  margin-bottom: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: url(assets/Images/cursor-pointer.png), pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 998;
}

.project-left-arrow {
  transform: rotate(90deg);
  margin-right: -2vw;
}

.project-right-arrow {
  background-image: url(assets/Images/right-project-arrow.png);
  margin-left: -2vw;
}

.thumbnail-default {
  height: 100%;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-thumbnail-default {
  margin-top: 4vw;
  height: 100%;
  width: 100%;
  border: 0.35vw ridge rgb(209, 209, 200);
  display: flex;
  border-radius: 0.2vw;
  box-shadow: 0 0.5vw 0.6vw #888888;
  position: relative;
}

.project-thumbnail-default a {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.project-thumbnail a {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.project-thumbnail-default img {

  position: absolute;
}

.thumbnail-default-background {
  position: absolute;
  z-index: 1;
  height: 30vw;
  width: 65vw;
  background-image: url(assets/Images/thumbnail-default.background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbnail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}

.styles-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.style-box {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/Images/style-project-background-fcc.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.style-box span {
  margin-top: 2vw;

  letter-spacing: 0.1vw;
  font-size: 0.8vw;
  font-family: "Old Standard TT", serif !important;
  color: #797979;
  text-shadow: 0 0 0.1vw #828080;
}

.project-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.project-subproject {
  height: 12vw;
  width: 75%;
  margin-bottom: 0.5vw;
  background-image: url(assets/Images/fcc-descriptions.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.subproject-name {
  width: 20%;
  height: 25%;
/*   background-image: url(assets/Images/subproject-background.png);
  background-size: contain;
  background-position: center;
  background-position-y: 1vw;
  background-repeat: no-repeat; */
  margin: 0 auto;
  margin-top: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subproject-name span {
  max-width: 5vw;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.1vw;
  font-size: 0.75vw;
  margin-right: 0.3vw;
  font-weight: 600;
  font-family: "Old Standard TT", serif !important;
  font-style: italic;
  color: #605e5e;
  text-shadow: 0 0.2vw 0.2vw #7e7c7c;
}

.particular-descriptions {
  height: 100%;
  width: 100%;
  display: flex;
  bottom: 1vw;
  position: absolute;
}

.a-particular-description-left,
.a-particular-description-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;

  margin-top: 1vw;
  text-align: center;
  font-size: 0.75vw;
  font-weight: 600;
  font-family: "Old Standard TT", serif !important;
  color: #646161;
  line-height: 1.1;
}

.a-particular-description-left {
  padding-right: 4vw;
}

.a-particular-description-right {
  padding-left: 5vw;
}

.thumbnail {
  width: 64vw;
  height: 22vw;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.35vw ridge rgb(209, 209, 200);
  border-radius: 0.2vw;
  box-shadow: 0 0.5vw 0.6vw #888888;
  position: relative;
  margin-bottom: 12vw;
  z-index: 49;
}

.thumbnail:hover {
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.thumbnail-frame {
  width: 66vw;
  height: 26.5vw;
  position: absolute;
  z-index: 50;
  background-image: url(assets/Images/project-frame-fcc.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: -2.9vw;
}

.thumbnail-frame-unique {
  width: 66.5vw;
  height: 38vw;
  position: absolute;
  z-index: 1;
  background-image: url(assets/Images/project-frame-unique-fcc.png);
  background-position: center;
  background-position-y: 3.4vw;
  background-size: 99% 69.5%;
  background-repeat: no-repeat;
  bottom: -10.6vw;
}

.fcc-style,
.my-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
}

.project-description-fcc {
  width: 14%;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(assets/Images/project-description-fcc.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1vw;
}

.project-description {
  width: 14%;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vw 0 2vw 0;
  background-image: url(assets/Images/project-description.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-01 {
  width: 100%;
  position: relative;
  background-image: url(assets/Images/velvet-01.png);
  background-size: 100% 100%;
}

.project-title {
  background-image: url(assets/Images/project-title.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1vw 0px 0vw 22%;
  width: 40%;
  height: 10vw;
  z-index: 51;
  position: absolute;
}

.project-title span {
  margin-top: 2vw;

  letter-spacing: 0.1vw;
  font-size: 1.2vw;
  font-family: "Pinyon Script", cursive !important;
  color: #64645c;
  text-shadow: 0 0vw 0.15vw #2c2c2a;
}

.project-filters-list {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: small;
  margin-top: 10%;
}

.project-filters-list-default {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: small;
  margin-top: 1.6vw;
}

.project-filter-tag {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/Images/project-filter.png);
  background-size: contain;
  background-position: center;
  background-position-y: 70%;
  background-repeat: no-repeat;

  font-size: 0.5vw;
  font-weight: 600;
  font-family: "Cinzel", serif !important;
  color: #282727;
  text-shadow: 0 0vw 0.1vw #393737;
}

.project-filters span {
  font-size: 0.8vw;
  font-family: "Cinzel", serif !important;
  color: #302e2e;
  text-shadow: 0 0 0.1vw #7e7c7c;
}

.project-text-description-01,
.project-text-description-02 {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1vw;

  font-size: 0.75vw;
  font-weight: 600;
  font-family: "Old Standard TT", serif !important;
  color: #646161;
  line-height: 1.1;
}

.project-text-description-01 {
  height: 75%;
}
.project-text-description-02 {
  height: 60%;
}

.project-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;

  font-size: 0.75vw;
  font-weight: 600;
  font-family: "Old Standard TT", serif !important;
  color: #3b422d;
  line-height: 1.1;
  font-style: italic;
}

.project-type {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  position: absolute;
  z-index: 999;
}

.footer-name {
  background-image: url(assets/Images/footer-name.png);
  background-position-y: 35%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13%;
}

.footer-name .name {
  margin-top: 0.5vw;
  letter-spacing: 0.02vw;

  
  letter-spacing: 0.1vw;
  font-size: 1.1vw;
  font-family: "Pinyon Script", cursive !important;
  color: #32322e;
}

.footer-name .year {
  margin-top: -0.3vw;
  letter-spacing: 0.05vw;
  font-size: 0.7vw;
  font-family: "Old Standard TT", serif !important;
  color: #75756e;
}

/*ACCORDION*/

.accordion {
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* BUTTONS */

.menu-item {
  filter: url("#shadowed-goo");
  background-image: url(assets/Images/menu-background-simple.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.menu-open-button {
  background-image: url(assets/Images/menu-background.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.menu-item,
.menu-open-button {

  width: 2vw;
  height: 3vw;
  margin-left: -3vw;
  position: absolute;
  top: 0.8vw;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  font-size: 1vw;
  text-align: left;
  top: 0.2vw;
  right: 11vw;
}

.menu-item i {
  margin-top: 1vw;
}

.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}
.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: url(assets/Images/cursor-pointer.png), pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  --offset: 3.7vw;
  transition-duration: 160ms;
  transform: translate3d(
    calc(0.995 * var(--offset)),
    calc(0.0998 * var(--offset)),
    0
  );
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  --offset: 3vw;
  transition-duration: 240ms;
  transform: translate3d(
    calc(0.6711 * var(--offset)),
    calc(0.7412 * var(--offset)),
    0
  );
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  --offset: 3vw;
  transition-duration: 320ms;
  transform: translate3d(
    calc(-0.0007 * var(--offset)),
    calc(0.9999 * var(--offset)),
    0
  );
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  --offset: 3vw;
  transition-duration: 400ms;
  transform: translate3d(
    calc(-0.6699 * var(--offset)),
    calc(0.7423 * var(--offset)),
    0
  );
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  --offset: 3.7vw;
  transition-duration: 480ms;
  transform: translate3d(
    calc(-0.9948 * var(--offset)),
    calc(0.1014179863166 * var(--offset)),
    0
  );
}

.menu-item {
  
}
