<!-- ID Experience -->
<div id="experience-id" class="col-10"></div>

<!-- SUBSECTION Experience -->
<div class="experience-container col-10">
    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
    <div class="experience-title"></div>
    <div class="job-name">
        <div class="job-box">
            <span class="job-name-studio">{{experience.studio_name}}</span>
        <span class="job-years">{{experience.from}} - {{experience.to}}</span>
        </div>
    </div>
    <div class="job01 col-12">
        <div class="studio">
            <div class="monkey-studio">
                <div class="logo" [ngStyle]="{ 'background-image': 'url(' + experience.logo + ')'}"></div>
            </div>
            <div class="role-list">
                <p>{{experience.description}}</p>
            </div>
        </div>
        <div class="roles">
            <div class="role-description" *ngFor="let role of experience.roles">
                <h4>{{role.name}}</h4>
                <p>{{role.description}}</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video-frame"></div>
            <div class="experience-image"></div>
        </div>
    </div>
</div>