<!-- ID Experience -->
<div id="experience-id" class="col-10"></div>

<!-- SUBSECTION Experience -->
<div class="experience-container col-10">
    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
    <div class="experience-title"></div>
    <div class="job-name">
        <span>Studio Name</span>
        <span>Year 01 - Year 02</span>
    </div>
    <div class="job01 col-12">
        <div class="studio">
            <div class="monkey-studio">
                <div class="logo">Logo</div>
            </div>
            <div class="role-list">
                <p>Description Description Description Description Description Description Description Description
                    Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
        </div>
        <div class="roles">
            <div class="role-description">
                <h4>Role#01</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
            <div class="role-description">
                <h4>Role#02</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
        </div>
        <div class="video-container">
            <div id="player" class="yt-player"></div>
        </div>
    </div>
</div>