<!-- ID Experience -->
<div id="experience-id" style="background-color: rgb(89, 91, 73); height: 90px;"></div>

<!-- SUBSECTION Experience -->
<div class="experience-container col-10">
    <div class="edit hidden"><i class='fas fa-pen-nib'></i></div>
    <div class="experience-title">
        <h2>Experience</h2>
    </div>
    <div class="job-name">
        <span>Studio Name</span>
        <span>Year 01 - Year 02</span>
    </div>
    <div class="job01 col-12">
        <div class="studio">
            <div class="monkey-studio">
                <div class="logo">Logo</div>
            </div>
            <div class="role-list">
                <p>Description Description Description Description Description Description Description Description
                    Description Description Description Description Description Description Description Description
                    Description Description.</p>
                <ol>
                    <li>Role#01</li>
                    <li>Role#02</li>
                    <li>Role#03</li>
                    <li>Role#04</li>
                </ol>
            </div>
        </div>
        <div class="roles">
            <div class="role-description">
                <h4>Role#01</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
            <div class="role-description">
                <h4>Role#02</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
            <div class="role-description">
                <h4>Role#03</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
            <div class="role-description">
                <h4>Role#04</h4>
                <p>Description Description Description Description Description Description Description Description
                    Description Description.</p>
            </div>
        </div>
        <div class="video-container">
            <div id="player" class="yt-player"></div>
        </div>
    </div>
</div>